<% include header %>


	<div class="container" style="margin-top:60px">

		<div class="row">
	
			<div class="col-md-6 wrapper-forecast">
				<h3>Posiciones</h3>

				<table class="table table-bordered">
			    	<thead>
			        	<tr>
			          		<th>Pos</th>
			          		<th>Equipo</th>
			          		<th>Puntos</th>
			        	</tr>
			      	</thead>
			      	<tbody>
			      		<% 
			      			teams.forEach(function(team, index){
						%>
			        	<tr>
			          		<td><%= ++index %></td>
			          		<td><img src="/images/<%=: team.name | replace:" ", ""  | downcase %>.png"><%= team.name %> </td>
			          		<td><%= team.points %></td>
			        	</tr>
			        	<% }) %>
			      </tbody>
			    </table>
			</div>


			<!-- RANKING DE USUARIOS -->
			<div class="col-md-4" style="margin-top: 20px;">
				<h3>Ranking usuarios</h3>
				
				<ul class="list-group">
					<% 
			      		users.forEach(function(user){
					%>
					<li class="list-group-item">
				    	<span class="badge"><%= user.points %></span>
				    	<%= user.username %>
				  	</li>
				  	<% }) %>
				</ul>

			</div>

		</div>
	</div>

<% include footer %>
